#title {
    background-color: black;
    color: white;
}

.main-text {
    margin-top: 10%;
    margin-bottom: 10%;
}

.move-down {
    padding-top:5%;
    padding-left: 6%;
}

h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: darkgreen;
}


.centered {
    padding-top: 3%;
    text-align: center;
    color: blueviolet;
    /*Welcome tag*/
}

.centerElementsOnly {
    text-align: center;
}

.usernameTag {
    text-align: center;
    color: blueviolet;
    margin-bottom: 5%
}

body {
    background-color: navy;
}

.navbarbackground {
    background-color: darkgreen;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: normal;
}

.container-fluid {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}


.btn {
    margin: 2%;
}

.profile_username {
    /*background-color: white;*/
}

.profile_page {
    background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /*background-color: blueviolet;*/
    color: black;

}

.profile_pic {
    max-width: 75%;
    height: auto;
    background-color: blueviolet;
    border-radius: 50%;
    margin-top: 12%;
    text-align: center;
    border: 5px solid #555;
}

.index_pic {
    padding-top:15%;
    padding-left:20%;
    max-width: 70%;
    height: auto;
    text-align: center;
}

.all_avatars {
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    border: 5px solid #555;
}

.find_friends {
    margin-top: 2%;
    margin-bottom: 2%;
}

.username_link {
    color: lightgray;
}

.username_link:hover {
    color: white;
    text-decoration: none;
}

hr {

}

.chatText {
    font-size: 2rem;
    font-weight: bold;
}


.all_attributes {
    margin-top: 2.5%;
}

.padding_top {
    padding-top: 15px;
}

.compose_msg_padding {
    padding-top:7%;
    padding-left: 3%;
    padding-right: 3%;
}

.imgAndDesc {
    padding-top: 15px;
}

.profPicDiv {
    text-align: center;
}

.profAttrib {
    text-align: center;
}

.desc {
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    border: 5px solid #555;
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
}

.groupchat {
    font-family: "Montserrat";
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: 5px solid #555;
    background-color: white;
    color: blueviolet;
}

.username {
    color: white;
    background-color: blueviolet;
    border: 5px solid #555;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.userDiv {
    text-align: center;
    margin-top: 2%;
}

.userAtDiv {
    text-align: center;
    margin-top: 5%;
}

.lastEle {
    padding-bottom: 120px;
}

.zeroMarg {
    margin-left: 0;
    margin-right: 0;
}

.inlineblock {
    margin-left: 10%;
    margin-right: 10%;
}

.editBtn {
    margin-top: 20%;
}

label {
    color: green;
    font-weight: bold;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.footerText {
    margin-bottom: 1%;
    text-align: center;
}

.mygroups {
    background-color: white;
}

.signupForms {
    margin-bottom: 2.5%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}